body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header: View high scores & Timer  */
header {
    display: flex;
    justify-content: space-between;
    padding:1% 20% 0 17%;
}


main {
    text-align: center;
}

/* General styling of all buttons */
button {  
    font-size: 13pt;
    color: white;
    background-color: rgb(186, 47, 221);
    border-radius: 5px;
    padding: 0.5% 2%;
    border: none;
    margin-right: 1%;
} 

.startQuiz { /* Start Quiz button */
    font-size: 21px;
    margin-top: 1%;
}

.button{ /* Quiz options buttons  */
    position: relative;
    left: 35%; 
    padding: 0.5% 5%;
    margin-bottom: 1%;
}

#submit {   /* "submit" button */
    background-color: rgb(114, 169, 233);
    padding: 0.3% .6% 0.2%;
    font-size: 12pt;
}

/* Text stylings */
#high{
    color: rgb(186, 47, 221);
}

#wrong {
    font-size: 13pt;
    margin: 1.5% 0%;
    text-align: left;
    margin-left: 30%;
}

#message {
    margin-top: 1%;
}

/* Form styling */
.form{
    font-size: 13.5pt;
}

input {
    height: 20px ;
}

/* Hovers */
#high:hover {
    color: rgb(155, 39, 184);
    font-size: 105%;
}

button:hover {
    background-color: rgb(155, 39, 184);
    font-size: 120%;
}

/* scores */
#algo {
    display: flex;
    padding-left: 39%;
    margin-top: 3%;
}

#thescores{
    background-color:rgb(118, 231, 95);
    border-radius: 50px;
    width: 20%;
    margin-left: 40%;
}



